#  KEEP ALPHABETICALLY SORTED
#  merge with msm/-perf_defconfig
# CONFIG_BUILD_ARM64_APPENDED_DTB_IMAGE is not set
# CONFIG_CORESIGHT is not set
# CONFIG_INPUT_EVBUG is not set
# CONFIG_LEDS_QPNP is not set
# CONFIG_MOBICORE_SUPPORT is not set
# CONFIG_MSM_DLOAD_MODE is not set
# CONFIG_QPNP_LINEAR_CHARGER is not set
# CONFIG_QPNP_VIBRATOR is not set
# CONFIG_QPNP_VM_BMS is not set
# CONFIG_STRICT_MEMORY_RWX is not set
# CONFIG_TOUCHSCREEN_ATMEL_MXT is not set
# CONFIG_TOUCHSCREEN_FT5X06 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_CORE_v21 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_I2C_RMI4 is not set
CONFIG_CIFS=y
CONFIG_CPUSETS=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_F2FS_FS=y
CONFIG_F2FS_FS_SECURITY=y
CONFIG_LOG_BUF_SHIFT=21
CONFIG_MACH_XIAOMI_FERRARI=y
CONFIG_MMC_BLOCK_MINORS=64
CONFIG_MSM_CORE_CTL=y
CONFIG_MSM_PRESERVE_MEM=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_NLS_CODEPAGE_950=y
CONFIG_NLS_UTF8=y
CONFIG_NTFS_FS=y
CONFIG_NTFS_RW=y
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_RAM=y
CONFIG_PSTORE_RAM_ANNOTATION_APPEND=y
CONFIG_SDCARD_FS=y
#  KEEP MODULES AFTER THIS LINE
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_BACKLIGHT_GENERIC=y
CONFIG_CRYPTO_ANSI_CPRNG=y
CONFIG_INPUT_GPIO=y
CONFIG_IOSCHED_TEST=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_MMC_BLOCK_TEST=y
CONFIG_MMC_TEST=y
CONFIG_SPI_SPIDEV=y
CONFIG_USB_GSPCA=y
#  KEEP PRONTO CONFIG AFTER THIS LINE
CONFIG_PRONTO_WLAN=y
CONFIG_PRIMA_WLAN_LFR=y
CONFIG_PRIMA_WLAN_OKC=y
CONFIG_PRIMA_WLAN_11AC_HIGH_TP=y
CONFIG_WLAN_FEATURE_11W=y
CONFIG_QCOM_TDLS=y
CONFIG_QCOM_VOWIFI_11R=y
CONFIG_ENABLE_LINUX_REG=y
CONFIG_WLAN_OFFLOAD_PACKETS=y
